@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 5
   Coding Challenge 1

   Author:   Amber Alar
   Date:     10/15/2024
   Filename: code5-1_media.css

*/

/* For screen 500px and under */
@media only screen and (max-width:500px) {
   article img {
      display: none;
   }
   ul.submenu {
      text-align: center;
   }
}

/* for screens 501px or more */

@media only screen and (min-width:501px) {
      nav {
         float:left;
         width: 130px;
         height: 400px;
         margin: 30px 25px 0px 0px;
      }
      
}

/* for screens 710px or greater */

@media only screen and (min-width:710px) {
      nav {
         float:none;
         width: 100%;
         height: auto;
      }
      ul.mainmenu {
         display: flex;
         flex-flow: row nowrap;
         justify-content: center;
      }
}